@import "tailwindcss";

:root {
  --background: #050816;
  --foreground: #ffffff;

  --card: #101827;

  --primary: #6c63ff;

  --secondary: #3ec5ff;

  --muted: #94a3b8;
}

html {
  scroll-behavior: smooth;
}

body {
  background: radial-gradient(circle at top, #16213e 0%, #050816 60%);
  color: var(--foreground);
  min-height: 100vh;
}

* {
  box-sizing: border-box;
}

.glass {
  background: rgba(255,255,255,.05);
  backdrop-filter: blur(14px);
  border: 1px solid rgba(255,255,255,.08);
}

.gradientText{
  background: linear-gradient(
      90deg,
      #6c63ff,
      #3ec5ff
  );

  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

.heroBlob{
  position:absolute;
  width:450px;
  height:450px;
  border-radius:50%;

  filter:blur(120px);

  opacity:.25;
}

.blob1{
  background:#6c63ff;
}

.blob2{
  background:#3ec5ff;
}

.glass:hover{
  border:1px solid rgba(62,197,255,.4);
  transition:.3s;
}

.feature-card {
  transition: all .35s ease;
}

.feature-card:hover {
  transform: translateY(-8px);
}

.section-title{
    font-size:3rem;
    font-weight:700;
    margin-bottom:1rem;
}

.section-subtitle{
    color:#94a3b8;
    line-height:1.9;
    max-width:700px;
}

.section-padding{
    padding:7rem 1.5rem;
}

.hover-card{
    transition:.35s;
}

.hover-card:hover{
    transform:translateY(-8px);
}